{% load static %}

<div class="scroll-up-btn">
        <i class="fas fa-angle-up"></i>
{#    <i class="bi bi-caret-up-fill mb-5"></i>#}
</div>

<!-- navbar -->
<div class="px-4 menu">
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent navbar-fixed-top navbar-toggleable-sm navbar-inverse pt-3">
        <div class="container-xl">
            <a class="navbar-brand d-flex flex-column" href="{% url 'main_home' %}">
                <img src="{% static 'main/img/napa1.svg' %}" class="mb-1">
                <img src="{% static 'main/img/recruitment1.svg' %}">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <div class="offset"></div>
                <ul class="navbar-nav pt-5 pt-md-0">
                    <li class="nav-item ml-0 ml-sm-0">
                        <a class="nav-link text-secondary menu-btn" href="#home">Главная</a>
                    </li>
                    <li class="nav-item ml-0 ml-sm-0 ml-md-5">
                        <a class="nav-link text-secondary menu-btn" href="#o-nas">О нас</a>
                    </li>
                    <li class="nav-item ml-0 ml-sm-0 ml-md-5">
                        <a class="nav-link text-secondary menu-btn" href="#students">Наши студенты</a>
                    </li>
                    <li class="nav-item mx-0 mx-sm-0 ml-md-5">
                        <a class="nav-link text-secondary" href="#partners">Партнеры</a>
                    </li>
                    <li class="nav-item invisible">
                        <a class="nav-link text-secondary menu-btn" href="#">Партнеры</a>
                    </li>
                </ul>
                <ul class="navbar-nav flex-row d-flex justify-content-around ml-0 ml-md-5">
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link text-secondary" href="#">
                                <img src="{% static 'main/img/star.svg' %}">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-secondary" href="#">
                                <img src="{% static 'main/img/personall account.svg' %}">
                            </a>
                        </li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link text-secondary" href="#">
                                <img src="{% static 'main/img/sign_in.svg' %}">
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link text-secondary" href="{% url 'user:login' %}">
                                <img src="{% static 'main/img/sign_in.svg' %}">
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdown09" data-toggle="dropdown">UZ</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#uz"><span class="flag-icon flag-icon-uz"> </span> Uz</a>
                            <a class="dropdown-item" href="#ru"><span class="flag-icon flag-icon-ru"> </span> Ru</a>
                        </div>
                    </li>
                </ul>
            </div><!-- End of collapse -->
        </div>
    </nav><!-- End of navbar -->
</div><!-- End of menu -->
