{% extends '../layouts/layout.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="container-xl my-110 ml-lg-5 ml-xl-auto">
		<div class="row mb-5">
			<div class="col text-center text-sm-left">
				<span class="font-size-20">{% trans 'Избранные сотрудники' %}</span>
			</div>
		</div><!-- End of row -->
		<div class="row d-flex align-items-center mt-5 mt-sm-4">
			<div class="col-lg-1 col-md-1 col-sm-1 col-12 text-center">
				<img src="{% static 'main/img/avatarka.svg' %}">
			</div>
			<div class="col-md-3 offset-md-1 col-sm-8 offset-sm-3 col-12 d-flex align-items-center justify-content-center justify-content-md-start pl-sm-0 mt-3 mt-sm-0">
				<i class="fa fa-star fa-fw fa-lg favourite-icon active pb-sm-3 mr-sm-4 pt-sm-3 mr-2"></i>
				<p class="font-weight-bold text-break m-0 text-center">
					Газиев  Руслан
				</p>
			</div>
			<div class="col-md-3 offset-md-1 col-sm-4 mt-2 mt-sm-4 mt-md-0 text-center text-sm-left">
				<p class="mb-2">
					Full-stack разработчик
				</p>
			</div>
			<div class="col-md-2 offset-md-0 col-sm-6 mt-sm-4 mt-md-0 text-center text-md-left">
				<p>
					HTML, CSS, Javascript
					PHP, Python
				</p>
			</div>
		</div><!-- End of row -->

		<div class="row d-flex align-items-center mt-5 mt-sm-4">
			<div class="col-lg-1 col-md-1 col-sm-1 col-12 text-center">
				<img src="{% static 'main/img/avatarka.svg' %}">
			</div>
			<div class="col-md-3 offset-md-1 col-sm-8 offset-sm-3 col-12 d-flex align-items-center justify-content-center justify-content-md-start pl-sm-0 mt-3 mt-sm-0">
				<i class="fa fa-star fa-fw fa-lg favourite-icon active pb-sm-3 mr-sm-4 pt-sm-3 mr-2"></i>
				<p class="font-weight-bold text-break m-0">
					Газиев  Руслан
				</p>
			</div>
			<div class="col-md-3 offset-md-1 col-sm-4 mt-2 mt-sm-4 mt-md-0 text-center text-sm-left">
				<p class="mb-2">
					Full-stack разработчик
				</p>
			</div>
			<div class="col-md-2 offset-md-0 col-sm-6 mt-sm-4 mt-md-0 text-center text-md-left">
				<p>
					HTML, CSS, Javascript
					PHP, Python
				</p>
			</div>
		</div><!-- End of row -->

		<div class="row d-flex align-items-center mt-5 mt-sm-4">
			<div class="col-lg-1 col-md-1 col-sm-1 col-12 text-center">
				<img src="{% static 'main/img/avatarka.svg' %}">
			</div>
			<div class="col-md-3 offset-md-1 col-sm-8 offset-sm-3 col-12 d-flex align-items-center justify-content-center justify-content-md-start pl-sm-0 mt-3 mt-sm-0">
				<i class="fa fa-star fa-fw fa-lg favourite-icon active pb-sm-3 mr-sm-4 pt-sm-3 mr-2"></i>
				<p class="font-weight-bold text-break m-0">
					Газиев  Руслан
				</p>
			</div>
			<div class="col-md-3 offset-md-1 col-sm-4 mt-2 mt-sm-4 mt-md-2 text-center text-sm-left">
				<p class="mb-2">
					Full-stack разработчик
				</p>
			</div>
			<div class="col-md-2 offset-md-0 col-sm-6 mt-sm-4 mt-md-0 text-center text-md-left">
				<p>
					HTML, CSS, Javascript
					PHP, Python
				</p>
			</div>
		</div><!-- End of row -->

		<div class="row d-flex align-items-center mt-4">
			<div class="col pr-lg-5 mr-lg-5 text-lg-right text-sm-left text-center">
				<a class="btn btn-danger px-4 py-2 rounded-15">{% trans 'Изменить' %}</a>
			</div><!-- End of col -->
		</div><!-- End of row -->
	</div><!-- End of container-xl -->


	<div class="container-xl py-5 ml-lg-5 ml-xl-auto">
		<div class="row mb-5">
			<div class="col text-center text-sm-left">
				<span class="font-size-20">{% trans 'Мои заявки' %}:</span>
			</div>
		</div><!-- End of row -->
		<div class="row d-flex align-items-center mt-5 mt-sm-4">
			<div class="col-lg-1 col-md-1 col-sm-1 col-12 text-center">
				<img src="{% static 'main/img/avatarka.svg' %}">
			</div>
			<div class="col-md-3 offset-md-1 col-sm-8 offset-sm-3 col-12 d-flex align-items-center justify-content-center justify-content-md-start pl-sm-0 mt-3 mt-sm-0">
				<i class="fas fa-check-circle fa-fw fa-lg favourite-icon-1 active pb-sm-3 mr-sm-4 pt-md-3 mr-2"></i>
				<p class="font-weight-bold text-break m-0 text-center">
					Газиев  Руслан
				</p>
			</div>
			<div class="col-md-3 offset-md-1 col-sm-4 mt-2 mt-sm-4 mt-md-0 text-center text-sm-left">
				<p class="mb-2">
					Full-stack разработчик
				</p>
			</div>
			<div class="col-md-2 offset-md-0 col-sm-6 mt-sm-4 mt-md-0 text-center text-md-left">
				<p>
					HTML, CSS, Javascript
					PHP, Python
				</p>
			</div>
		</div><!-- End of row -->


		<div class="row d-flex align-items-center mt-5 mt-sm-4">
			<div class="col-lg-1 col-md-1 col-sm-1 col-12 text-center">
				<img src="{% static 'main/img/avatarka.svg' %}">
			</div>
			<div class="col-md-3 offset-md-1 col-sm-8 offset-sm-3 col-12 d-flex align-items-center justify-content-center justify-content-md-start pl-sm-0 mt-3 mt-sm-0">
				<i class="fas fa-check-circle fa-fw fa-lg favourite-icon-1 active pb-sm-3 mr-sm-4 pt-md-3 mr-2"></i>
				<p class="font-weight-bold text-break m-0">
					Газиев  Руслан
				</p>
			</div>
			<div class="col-md-3 offset-md-1 col-sm-4 mt-2 mt-sm-4 mt-md-2 text-center text-sm-left">
				<p class="mb-2">
					Full-stack разработчик
				</p>
			</div>
			<div class="col-md-2 offset-md-0 col-sm-6 mt-sm-4 mt-md-0 text-center text-md-left">
				<p>
					HTML, CSS, Javascript
					PHP, Python
				</p>
			</div>
		</div><!-- End of row -->

		<div class="row d-flex align-items-center mt-5 mt-sm-4">
			<div class="col-lg-1 col-md-1 col-sm-1 col-12 text-center">
				<img src="{% static 'main/img/avatarka.svg' %}">
			</div>
			<div class="col-md-3 offset-md-1 col-sm-8 offset-sm-3 col-12 d-flex align-items-center justify-content-center justify-content-md-start pl-sm-0 mt-3 mt-sm-0">
				<i class="fas fa-check-circle fa-fw fa-lg favourite-icon-1 active pb-sm-3 mr-sm-4 pt-md-3 mr-2"></i>
				<p class="font-weight-bold text-break m-0">
					Газиев  Руслан
				</p>
			</div>
			<div class="col-md-3 offset-md-1 col-sm-4 mt-2 mt-sm-4 mt-md-2 text-center text-sm-left">
				<p class="mb-2">
					Full-stack разработчик
				</p>
			</div>
			<div class="col-md-2 offset-md-0 col-sm-6 mt-sm-4 mt-md-0 text-center text-md-left">
				<p>
					HTML, CSS, Javascript
					PHP, Python
				</p>
			</div>
		</div><!-- End of row -->

		<div class="row d-flex align-items-center mt-4">
			<div class="col pr-lg-5 mr-lg-5 text-lg-right text-sm-left text-center">
				<a class="btn btn-danger px-4 py-2 rounded-15">{% trans 'Изменить' %}</a>
			</div><!-- End of col -->
		</div><!-- End of row -->
	</div><!-- End of container-xl -->
{% endblock %}