{% extends '../layouts/layout.html' %}
{% load static %}
{% load i18n %}
{% block content %}

    <div class="container-xl my-110 ml-lg-5 ml-xl-auto">
        <div class="row mb-5">
            <div class="col text-center text-sm-left">
                <span class="font-size-20">{% trans 'Избранные сотрудники' %}</span>
            </div>
        </div><!-- End of row -->

        {% for favorite in favorites %}
            {% if request.user.id is favorite.user_id %}
                <div class="row d-flex align-items-center load_ajax mt-5 mt-sm-4" id="f{{ favorite.id }}">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-12 text-center">
                        <img src="{{ favorite.student.image_url }}" alt="avatar" name="inpFile" id="inpFile2">
                    </div>
                    <div class="col-md-3 offset-md-1 col-sm-8 offset-sm-3 col-12 d-flex align-items-center justify-content-center justify-content-md-start pl-sm-0 mt-3 mt-sm-0">
                        <i class="fa fa-star fa-fw fa-lg favourite-icon checked1 active pb-sm-3 mr-sm-4 pt-sm-3 mr-2"
                           data-id="{{ favorite.id }}" data-target="#exampleModal"></i>
                        <p class="font-weight-bold text-break m-0 text-center">
                            {{ favorite.student.full_name }}
                        </p>
                    </div>
                    <div class="col-md-3 col-sm-4 mt-2 mt-sm-4 mt-md-0 text-center text-sm-left">
                        <p class="mb-2">
                            {{ favorite.student.direction }}
                        </p>
                    </div>
                    <div class="col-md-3 offset-md-0 col-sm-6 mt-sm-4 mt-md-0 text-center text-md-left">
                        <p>
                            {{ favorite.student.skills }}
                        </p>
                    </div>
                </div><!-- End of row -->
            {% endif %}
        {% empty %}

            <div class="alert alert-primary" role="alert">
                {% trans 'Нет избранных сотрудников!' %}
            </div>

        {% endfor %}



        <div class="row d-flex align-items-center mt-4">
            <div class="col pr-lg-5 mr-lg-5 text-lg-right text-sm-left text-center">
                <a class="btn btn-danger px-4 py-2 rounded-15 save-b1" href="">{% trans 'Изменить' %}</a>
            </div><!-- End of col -->
        </div><!-- End of row -->
    </div><!-- End of container-xl -->

    <div class="container-xl py-5 ml-lg-5 ml-xl-auto">
        <div class="row mb-5">
            <div class="col text-center text-sm-left">
                <span class="font-size-20">{% trans 'Мои заявки' %}:</span>
            </div>
        </div><!-- End of row -->
        {% for q in querys %}
            {% if request.user.id is q.user_id %}
                <div class="row d-flex align-items-center load_ajax1 mt-5 mt-sm-4" id="q{{ q.id }}">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-12 text-center">
                        <img src="{{ q.student.image_url }}" alt="avatar" name="inpFile" id="inpFile2">
                    </div>
                    <div class="col-md-3 offset-md-1 col-sm-8 offset-sm-3 col-12 d-flex align-items-center justify-content-center justify-content-md-start pl-sm-0 mt-3 mt-sm-0">
                        <i class="fas fa-check-circle checked fa-fw fa-lg favourite-icon-1 active pb-sm-3 mr-sm-4 pt-md-3 mr-2"
                           data-target="#xampleModal" data-id="{{ q.id }}"></i>
                        <p class="font-weight-bold text-break m-0 text-center">
                            {{ q.student.full_name }}
                        </p>
                    </div>
                    <div class="col-md-3 col-sm-4 mt-2 mt-sm-4 mt-md-0 text-center text-sm-left">
                        <p class="mb-2">
                            {{ q.student.direction }}
                        </p>
                    </div>
                    <div class="col-md-3 offset-md-0 col-sm-6 mt-sm-4 mt-md-0 text-center text-md-left">
                        <p>
                            {{ q.student.skills }}
                        </p>
                    </div>
                </div><!-- End of row -->
            {% endif %}
        {% empty %}
            <div class="alert alert-primary" role="alert">
                {% trans 'Заявока нет!' %}
            </div>
        {% endfor %}

        <div class="row d-flex align-items-center mt-4">
            <div class="col pr-lg-5 mr-lg-5 text-lg-right text-sm-left text-center">
                <a class="btn btn-danger px-4 py-2 rounded-15 save-b2" href="#">{% trans 'Изменить' %}</a>
            </div><!-- End of col -->
        </div><!-- End of row -->
    </div><!-- End of container-xl -->

    <!-- Modal  favorite-->
    <div class="modal fade" id="exampleModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-0">

                </div>
                <div class="modal-body text-center">
                    <i class="fas fa-minus-circle favourite-icon-modal mb-3"></i>
                    <p class="open-sans-400">
                        {% trans 'Вы уверены, что хотите удалить сотрудника из списка заявок' %}?
                    </p>
                </div>
                <div class="modal-footer border-0 justify-content-around px-5 pb-5">
                    <button type="button"
                            class="btn btn-danger rounded-15 px-4 py-2 open-sans-400 delete"
                            data-dismiss="modal">{% trans 'Удалить' %}</button>
                    <button type="button" class="btn btn-danger rounded-15 px-4 py-2 open-sans-400"
                            data-dismiss="modal">{% trans 'Оставить' %}</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal  query-->
    <div class="modal fade" id="xampleModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-0">

                </div>
                <div class="modal-body text-center">
                    <i class="fas fa-minus-circle favourite-icon-modal mb-3"></i>
                    <p class="open-sans-400">
                        {% trans 'Вы уверены, что хотите удалить сотрудника из списка заявок' %}?
                    </p>
                </div>
                <div class="modal-footer border-0 justify-content-around px-5 pb-5">
                    <button type="button" class="btn btn-danger rounded-15 px-4 py-2 open-sans-400 deleteq"
                            data-dismiss="modal">{% trans 'Удалить' %}</button>
                    <button type="button" class="btn btn-danger rounded-15 px-4 py-2 open-sans-400"
                            data-dismiss="modal">{% trans 'Оставить' %}
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block extra_js %}
    <script>
        $(".save-b2").click(function (e) {
            if (!$(this).prop("is-edit")) {
                $(".checked").addClass("fa-minus-circle favourite-icon-2")
                $(".checked").removeClass("fa-check-circle favourite-icon-1")
                $(".checked").attr('data-toggle', 'modal');
                $(this).html('Сохранить')
                $(this).prop("is-edit", true);
            } else {
                $(".checked").removeClass("fa-minus-circle favourite-icon-2")
                $(".checked").addClass("fa-check-circle favourite-icon-1")
                $(".checked").removeAttr('data-toggle');
                $(this).html('Изменить')
                $(this).prop("is-edit", false);
            }

            e.preventDefault();
            return false;
        });

        $(".save-b1").click(function (e) {
            if (!$(this).prop("is-edit")) {
                $(".checked1").addClass("fa-minus-circle favourite-icon-3")
                $(".checked1").removeClass("fa-star favourite-icon")
                $(".checked1").attr('data-toggle', 'modal');
                $(this).html('Сохранить')
                $(this).prop("is-edit", true);
            } else {
                $(".checked1").removeClass("fa-minus-circle favourite-icon-3")
                $(".checked1").addClass("fa-star favourite-icon")
                $(".checked1").removeAttr('data-toggle');
                $(this).html('Изменить')
                $(this).prop("is-edit", false);
            }

            e.preventDefault();
            return false;
        });

        let modal_delete_id = 0;
        $("#exampleModal").on("show.bs.modal", function (e) {
            modal_delete_id = $(e.relatedTarget).data("id");
        });


        $(".delete").click(function () {

            $.ajax({
                url: '/favorite_delete/' + modal_delete_id,
                type: 'get',
                success: function (data) {
                    console.log(data[0].id)
                    console.log(this.url)
                    let f = data[0].id
                    $('#f' + f + '').remove()
                }
            });
        });

        let query_id = 0
        $("#xampleModal").on("show.bs.modal", function (f) {
            query_id = $(f.relatedTarget).data("id");
        });

        $(".deleteq").click(function () {

            $.ajax({
                url: '/query_delete/' + query_id,
                type: 'get',
                success: function (data) {
                    console.log(data[0].id)
                    console.log(this.url)
                    let q = data[0].id
                    $("#q" + q).remove()
                }
            });
        });
    </script>


{% endblock %}