{% extends '../layouts/layout.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <!-- header home -->
	<div class="header-home" id="home">
		<div class="container-xl d-lg-flex flex-lg-column justify-content-lg-center">
			<div class="row pt-5 pt-lg-0">
				<div class="col-md-6 col-lg-6 col-xl-7 ml-md-3 mt-sm-5 mt-lg-0">
					<p class="font-size-28">
						{% trans 'Найдите подходящего сотрудника среди наших выпускников' %}
					</p>
				</div>
			</div><!-- End of row -->
			<div class="row">
				<div class="ml-md-3 col-lg-6 col-xl-6">
					<input type="text" class="form-control rounded-15">
					<label class="mt-1 mt-md-3 text-black font-size-12">{% trans 'Введите ключевые слова, пример: HTML' %}</label>
				</div>
				<div class="mt-2 mt-md-0 ml-md-3 col-lg-3 col-xl-3 d-flex justify-content-center d-md-block">
					<button class="btn btn-danger px-4 px-lg-5 rounded-15" type="submit">{% trans 'Искать' %}</button>
				</div>
				<div class="mt-5 mt-md-0 col-12 d-flex d-md-none justify-content-center">
					<img src="{% static 'main/img/mainpage_vector_2.png' %}" class="img-fluid" alt="">
				</div>
			</div><!-- End of row -->
		</div><!-- End of container-xl -->
	</div><!-- End of header-home -->

	<!-- section-content-1 -->
	<section class="section-content-1 d-md-flex align-items-md-center pt-md-5 mt-lg-3" id="o-nas">
		<div class="container-xl mb-5 my-md-5">
			<div class="row pt-5">
				<div class="col-md-6 col-lg-6 mb-5 mb-md-0 pr-md-5">
					<img src="{% static 'main/img/vector2.svg' %}" class="img-fluid">
				</div>
				<div class="col-md-6 col-lg-6 d-flex flex-column justify-content-center pl-md-5">
					<p class="font-size-28">{% trans 'O NAPA Recruitment' %}</p>
					<p>
						{% trans 'Мы компания по предоставлению рекрутинговых услуг. Мы не просто занимаемся поиском качественных, квалифицированных специалистов, мы их обучаем и воспитываем в течении одного года в нашей IТ Академии (Bobir Akilhanov Tech Academy).' %}
					</p>
					<p class="open-sans-600">
						{% trans 'Мы ищем и находим для вас лучших специалистов!' %}
					</p>
				</div>
			</div>
		</div>
	</section><!-- End of section-content-1 -->

	<section class="section-content-2 d-md-flex align-items-md-center">
		<div class="container-xl">
			<div class="row pb-5 align-items-center">
				<div class="col-lg-12 d-flex flex-lg-column align-items-lg-center justify-content-center">
					<p class="mt-5 mt-lg-0 font-size-28">{% trans 'Доступные должности' %}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-6 col-md-3 d-flex flex-column justify-content-center align-items-center text-center">
					<img src="{% static 'main/img/backend.svg' %}" alt="backend icon" class="img-fluid">
					<p class="mt-4 open-sans-600"> {% trans 'Back-End разработчик' %}</p>
				</div>
				<div class="col-6 col-md-3 d-flex flex-column justify-content-center align-items-center text-center">
					<img src="{% static 'main/img/frontend.svg' %}" alt="frontend icon" class="img-fluid">
					<p class="mt-4 open-sans-600"> {% trans 'Front-End разработчик' %}</p>
				</div>
				<div class="mt-5 mt-md-0 col-6 col-md-3 d-flex flex-column justify-content-center align-items-center text-center">
					<img src="{% static 'main/img/hr_manager.svg' %}" alt="hp-manager icon" class="img-fluid">
					<p class="mt-4 open-sans-600">{% trans 'HR-менеджер' %}</p>
				</div>
				<div class="mt-5 mt-md-0 col-6 col-md-3 d-flex flex-column justify-content-center align-items-center text-center">
					<img src="{% static 'main/img/digital_marketer.svg' %}" alt="digital marketer icon" class="img-fluid">
					<p class="mt-4 open-sans-600">{% trans 'Digital-маркетолог' %}</p>
				</div>
			</div>
		</div>
	</section><!-- End of section-content-2 -->

	<div class="container-xl pt-5 pb-5 mb-5" id="students">
		<div class="row">
			<div class="col-lg-6 offset-md-1">
				<p class="mb-sm-5 font-size-28">{% trans 'О наших студентах' %}</p>
				<p class="mb-sm-5 open-sans-400 im">
					{% trans 'Наши студенты - начинающие специалисты в сфере IT (Python, PHP, Java, SMM, HR-менеджер) окончившие Bobir Akilhanov Tech Academy. Выпускники прошли специализированное годовое обучение в рамках международных стандартов. Программа обучения состоит из 70% практики и 30% теории, а так же 3 месяца работы с реальными проектами.' %}
				</p>
			</div>
		</div>
		<div class="row mt-4 mt-sm-5">
			<div class="col-12">
				<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img src="{% static 'main/img/work_example.png' %}" class="d-block w-100" alt="...">
							<div class="font-weight-normal mt-2 mt-sm-4 open-sans-400">{% trans 'Газиев Руслан группа АА110' %}</div>
						</div>
						<div class="carousel-item">
							<img src="{% static 'main/img/work_example.png' %}" class="d-block w-100" alt="...">
							<div class="font-weight-normal mt-2 mt-sm-4 open-sans-400">{% trans 'Газиев Руслан группа АА110' %}</div>
						</div>
						<div class="carousel-item">
							<img src="{% static 'main/img/work_example.png' %}" class="d-block w-100" alt="...">
							<div class="font-weight-normal mt-2 mt-sm-4 open-sans-400">{% trans 'Газиев Руслан группа АА110' %}</div>
						</div>
					</div>
					<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon"></span>
						<span class="sr-only">{% trans 'Previous' %}</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
						<span class="carousel-control-next-icon"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div><!-- End of col -->
		</div><!-- End of row -->
	</div><!-- End of container-xl -->
	<div class="container-xl mb-140" id="partners">
		<div class="row mb-5">
			<div class="col-12 d-flex justify-content-center align-items-center">
				<p class="font-size-28 mt-lg-3 mb-lg-0">{% trans 'Наши партнеры' %}</p>
			</div>
		</div>
		<div class="row mb-5 pb-5 px-md-4">
			<div class="col-6 col-xl-2 p-4 p-md-0 text-center text-lg-left">
				<img src="{% static 'main/img/jooble_seeklogo.com 1.svg' %}" class="img-fluid" alt="jooble seek logo">
			</div>
			<div class="col-6 col-xl-2 p-4 p-md-0 text-center">
				<img src="{% static 'main/img/greenwhite_logo.svg' %}" class="img-fluid" alt="greenwhite logo">
			</div>
			<div class="mt-4 mt-md-0 col-6 col-xl-4 offset-xl-1 pr-0 p-4 p-md-0 text-center">
				<img src="{% static 'main/img/buyuk_ipak_yuli.svg' %}" class="img-fluid" alt="buyuk ipak yuli logo">
			</div>
			<div class="mt-4 mt-md-0 col-6 col-xl-2 offset-xl-1 d-flex flex-column justify-content-end p-4 p-md-0 text-center">
				<img src="{% static 'main/img/arta_logo.svg' %}" alt="arta logo">
			</div>
		</div>
	</div>

{% endblock %}