{% extends '../layouts/layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <!-- section-content -->
	<div class="container-xl section-content my-110 px-4 pb-5">
		<div class="row mx-0">
			<div class="col-12">
				<h1 class="mb-5 d-none d-sm-none d-md-block font-size-28">Личный кабинет</h1>
				<h2 class="d-block d-md-none font-size-28">Личный кабинет</h2>

				<h4 class="pt-3 d-none d-sm-none d-md-block font-size-20">Персональная информация</h4>
				<h5 class="pt-4 d-block d-md-none font-size-20">Персональная информация</h5>
			</div>
		</div>
		<form action="{% url 'user:info_save' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="row mx-0 my-4 py-3">
                <div class="col-12 d-flex flex-column flex-sm-row align-items-center" enctype="multipart/form-data">
                    <div class="image-preview" id="imagePreview">
						<img src="" alt="Image Preview" class="image-preview__image">
						<span class="image-preview__default-text"><img src="{{ user.image_url }}" alt=""></span>
					</div>
                    {{ form.avatar|as_crispy_field }}
					<label for="inpFile" class="inputTextLabel btn btn-danger font-size-14 rounded-15 px-4 px-sm-4 px-md-2 px-lg-4 py-2 my-3 my-sm-0 mr-2">Загрузить фотографию</label>
                </div>
		    </div>
			<div class="row mx-0 mb-5">
				<div class="col-12 col-md-6">
                    {% csrf_token %}
                    {{ form.errors }}
                    <div class="form-group mb-md-0">
						<label for="validationDefault01">Наименование компании <span style="color:#ff0000">*</span></label>
                        {{ form.company_name|as_crispy_field }}
					</div>
					<div class="form-group mb-md-0">
						<label for="validationDefault01">Имя confirm</label>
                        {{ form.first_name|as_crispy_field }}
					</div>
					<div class="form-group mb-md-0">
						<label for="validationDefault01">Фамилия <span style="color:#ff0000">*</span></label>
                        {{ form.last_name|as_crispy_field }}
					</div>
					<div class="form-group mb-md-0">
						<label for="validationCustom01" class="text-02">Деятельность компании</label>
                        {{ form.activity_company|as_crispy_field }}
					</div>
					<div class="form-group mb-md-0">
						<label for="exampleInputEmail1" class="text-02">Рабочий номер <span style="color:#ff0000">*</span></label>
                        {{ form.phone|as_crispy_field }}
					</div>
					<div class="form-group mb-md-0">
						<label for="exampleInputEmail1" class="text-02">Мобильный номер</label>
                        {{ form.mobil_phone|as_crispy_field }}
					</div>
					<div class="form-group mb-md-0">
						<label for="exampleInputEmail1">Email address</label>
                        {{ form.email|as_crispy_field }}
					</div>
				</div>

			</div><!-- End of row -->
			<div class="row mx-0">
				<div class="col-12 d-flex justify-content-center justify-content-md-start">
					<button class="btn btn-danger rounded-15 px-4 py-2" type="submit">Сохранить</button>
				</div>
			</div>
		</form>
	</div><!-- End of section-content -->
{% endblock %}