{% extends '../layouts/layout.html' %}
{% load static %}
{% block content %}
    <div class="container-xl my-110 mb-60">
		<!-- Filter -->
		<div class="row mx-4 text-left">
			<div class="col-lx-3 col-lg-3 col-md-3">
				<span class="filter d-none d-md-block">Фильтр</span>

				<p class="d-block d-md-none d-flex justify-content-center ">
					<button class="btn btn-danger filter px-5 rounded-15" type="button" data-toggle="collapse" data-target="#collapseExample_0">
						Фильтр
					</button>
				</p>

				<div class="py-4 be collapse d-md-block" id="collapseExample_0">
					<span class="btn pl-0" data-toggle="collapse" href="#collapseExample">Back-End <i class="fas fa-angle-down"></i></span>
					<br>
					<div class="collapse" id="collapseExample">
						<div class="card card-body ml-4 p-0 border-0">
							<div class="form-check mb-1 d-flex align-items-center" >
								<input class="form-check-input" type="checkbox" id="backend1" value="PHP (Laravel)">
								<label class="form-check-label pl-2 pt-1" for="backend1">PHP (Laravel)</label>
							</div>
							<div class="form-check mb-1 d-flex align-items-center">
								<input class="form-check-input" type="checkbox" id="backend2" value="PHP (YII2)">
								<label class="form-check-label pl-2 pt-1" for="backend2">PHP (YII2)</label>
							</div>
							<div class="form-check mb-1 d-flex align-items-center">
								<input class="form-check-input" type="checkbox" id="backend3" value="Java core">
								<label class="form-check-label pl-2 pt-1" for="backend3">Java core</label>
							</div>
							<div class="form-check mb-1 d-flex align-items-center">
								<input class="form-check-input" type="checkbox" id="backend4" value="Java (Spring)">
								<label class="form-check-label pl-2 pt-1" for="backend4">Java (Spring)</label>
							</div>
							<div class="form-check mb-1 d-flex align-items-center" >
								<input class="form-check-input" type="checkbox" id="backend5" value="Javafx">
								<label class="form-check-label pl-2 pt-1" for="backend5">Javafx</label>
							</div>
						</div>
					</div>

					<span class="btn pl-0" data-toggle="collapse" href="#collapseExample1">Front-End <i class="fas fa-angle-down"></i></span>
					<br>
					<div class="collapse" id="collapseExample1">
						<div class="card card-body p-0 ml-4 border-0">
							<div class="form-check mb-1 d-flex align-items-center" >
								<input class="form-check-input" type="checkbox" id="frontend1" value="HTML">
								<label class="form-check-label pl-2 pt-1" for="frontend1">HTMl</label>
							</div>
							<div class="form-check mb-1 d-flex align-items-center">
								<input class="form-check-input" type="checkbox" id="frontend2" value="CSS">
								<label class="form-check-label pl-2 pt-1" for="frontend2">CSS</label>
							</div>
							<div class="form-check mb-1 d-flex align-items-center">
								<input class="form-check-input" type="checkbox" id="frontend3" value="Java Script">
								<label class="form-check-label pl-2 pt-1" for="frontend3">Java Script</label>
							</div>
						</div>
					</div>
					<span class="py-2">SMM</span>
					<br>
					<span class="d-block mb-4 py-2">Маркетинг</span>
					<div class="form-check mb-1 d-flex align-items-center" >
						<input class="form-check-input" type="checkbox" id="item1" value="">
						<label class="form-check-label pl-2 pt-1" for="item1">Полный рабочий день</label>
					</div>
					<div class="form-check mb-1 d-flex align-items-center">
						<input class="form-check-input" type="checkbox" id="iten2" value="">
						<label class="form-check-label pl-2 pt-1" for="item2">Неполный рабочий день</label>
					</div>
					<div class="form-check mb-1 d-flex align-items-center mb-4">
						<input class="form-check-input" type="checkbox" id="item3" value="">
						<label class="form-check-label pl-2 pt-1" for="item3">Фриланс</label>
					</div>
					<div class="form-check mb-1 d-flex align-items-center" >
						<input class="form-check-input" type="checkbox" id="item4" value="">
						<label class="form-check-label pl-2 pt-1" for="item4">Работа в офисе</label>
					</div>
					<div class="form-check mb-1 d-flex align-items-center">
						<input class="form-check-input" type="checkbox" id="iten4" value="">
						<label class="form-check-label pl-2 pt-1" for="item4">Удаленная работа</label>
					</div>
				</div>
			</div><!-- End of filter -->

			<!-- students content -->
			<div class="col-xl-9 col-lg-9 col-md-9  justify-content-md-between d-md-table">
				<div class="container">
					<div class="row justify-content-center justify-content-md-start">
						<div class="col-sm-12 col-md-12 px-0 px-md-5 py-md-4 mt-2 users text-center">
							<div class="row px-3 mt-3 mb-4 text-sm-left">
								<div class="col-sm-2">
									<img src="{% static 'main/img/avatarka.svg' %}">
								</div>
								<div class="col-sm-4 col-md-6 pt-2 offset-sm-1 offset-md-2 offset-lg-1">
									<h5 class="font-size-20">Имя Фамилия</h5>
									<p class="text-light font-size-14">Front-end разработчик</p>
								</div>
							</div>
							<div class="row px-4 px-md-3 d-flex flex-column align-items-center flex-sm-row">
								<div class="px-2 mb-3 mb-md-0 col-md-4 col-sm-4 col-10">
									<img src="{% static 'main/img/rectangle 15.svg' %}" class="img-fluid">
								</div>
								<div class="px-2 mb-3 mb-md-0 col-md-4 col-sm-4 col-10">
									<img src="{% static 'main/img/rectangle 15.svg' %}" class="img-fluid">
								</div>
								<div class="px-2 mb-3 mb-md-0 col-md-4 col-sm-4 col-10">
									<img src="{% static 'main/img/rectangle 15.svg' %}" class="img-fluid">
								</div>
							</div>
							<div class="row px-4 px-md-3 mt-5 mb-5 mb-md-0 d-flex flex-column align-content-center flex-sm-row justify-content-sm-between">
								<div class="col-sm-4 mb-4 mb-md-0 text-center text-sm-left">
									<span>Навыки</span>
									<br>
									<span class="text-light font-size-14">
										HTML, CSS, JAVASCRIPT
									</span>
								</div>
								<div class="col-sm-8 text-center text-sm-right">
									<button class="btn btn-danger rounded-15 px-4 py-2">Подробнее</button>
								</div>
							</div>
						</div><!-- End of col -->
						<div class="col-sm-12 col-md-12 px-0 px-md-5 py-md-4 mt-2 users text-center">
							<div class="row px-3 mt-3 mb-4 text-sm-left">
								<div class="col-sm-2">
									<img src="{% static 'main/img/avatarka.svg' %}">
								</div>
								<div class="col-sm-4 col-md-6 pt-2 offset-sm-1 offset-md-2 offset-lg-1">
									<h5 class="font-size-20">Имя Фамилия</h5>
									<p class="text-light font-size-14">Front-end разработчик</p>
								</div>
							</div>
							<div class="row px-4 px-md-3 d-flex flex-column align-items-center flex-sm-row">
								<div class="px-2 mb-3 mb-md-0 col-md-4 col-sm-4 col-10">
									<img src="{% static 'main/img/rectangle 15.svg' %}" class="img-fluid">
								</div>
								<div class="px-2 mb-3 mb-md-0 col-md-4 col-sm-4 col-10">
									<img src="{% static 'main/img/rectangle 15.svg' %}" class="img-fluid">
								</div>
								<div class="px-2 mb-3 mb-md-0 col-md-4 col-sm-4 col-10">
									<img src="{% static 'main/img/rectangle 15.svg' %}" class="img-fluid">
								</div>
							</div>
							<div class="row px-4 px-md-3 mt-5 mb-5 mb-md-0 d-flex flex-column align-content-center flex-sm-row justify-content-sm-between">
								<div class="col-sm-4 mb-4 mb-md-0 text-center text-sm-left">
									<span>Навыки</span>
									<br>
									<span class="text-light font-size-14">
										HTML, CSS, JAVASCRIPT
									</span>
								</div>
								<div class="col-sm-8 text-center text-sm-right">
									<button class="btn btn-danger rounded-15 px-4 py-2">Подробнее</button>
								</div>
							</div>
						</div>
					</div>
				</div><!-- End of container -->
			</div><!-- End of users conter -->
		</div><!-- End of row -->
	</div><!-- End of contianer-fluid -->
{% endblock %}