{% extends '../layouts/layout.html' %}
{% load i18n helpers static %}

{% block content %}
    <div class="container-xl my-110 mb-60">
		<!-- Filter -->
		<div class="row mx-4 text-left">
			<div class="col-lx-3 col-lg-3 col-md-3">
				<span class="filter d-none d-md-block">{% trans 'Фильтр' %}</span>

				<p class="d-block d-md-none d-flex justify-content-center ">
					<button class="btn btn-danger filter px-5 rounded-15" type="button" data-toggle="collapse" data-target="#collapseExample_0">
						{% trans 'Фильтр' %}
					</button>
				</p>
                {{ request.GET }}
				<div class="py-4 be collapse d-md-block" id="collapseExample_0">
					<span class="btn pl-0" data-toggle="collapse" href="#collapseExample">Back-End <i class="fas fa-angle-down"></i></span>
					<br>
					<div class="collapse" id="collapseExample">
						<div class="card card-body ml-4 p-0 border-0">
                            {% for back in backend %}
                                <div class="form-check mb-1 d-flex align-items-center" >
                                    <input class="form-check-input" type="checkbox" id="backend1" value="{{ back.value }}">
                                    <label class="form-check-label pl-2 pt-1" for="backend1">{{ back.value }}</label>
                                </div>
                            {% endfor %}
						</div>
					</div>

					<span class="btn pl-0" data-toggle="collapse" href="#collapseExample1">Front-End <i class="fas fa-angle-down"></i></span>
					<br>
					<div class="collapse" id="collapseExample1">
						<div class="card card-body p-0 ml-4 border-0">
                            {% for front in fontend %}
							<div class="form-check mb-1 d-flex align-items-center" >
								<input class="form-check-input" type="checkbox" id="frontend1" value="HTML">
								<label class="form-check-label pl-2 pt-1" for="frontend1">{{ front.value }}</label>
							</div>
                            {% endfor %}
						</div>
					</div>
					<span class="py-2">SMM</span>
					<br>
					<span class="d-block mb-4 py-2">{% trans 'Маркетинг' %}</span>
					<div class="form-check mb-1 d-flex align-items-center" >
						<input class="form-check-input" type="checkbox" id="item1" value="">
						<label class="form-check-label pl-2 pt-1" for="item1">{% trans 'Полный рабочий день' %}</label>
					</div>
					<div class="form-check mb-1 d-flex align-items-center">
						<input class="form-check-input" type="checkbox" id="iten2" value="">
						<label class="form-check-label pl-2 pt-1" for="item2">{% trans 'Неполный рабочий день' %}</label>
					</div>
					<div class="form-check mb-1 d-flex align-items-center mb-4">
						<input class="form-check-input" type="checkbox" id="item3" value="">
						<label class="form-check-label pl-2 pt-1" for="item3">{% trans 'Фриланс' %}</label>
					</div>
					<div class="form-check mb-1 d-flex align-items-center" >
						<input class="form-check-input" type="checkbox" id="item4" value="">
						<label class="form-check-label pl-2 pt-1" for="item4">{% trans 'Работа в офисе' %}</label>
					</div>
					<div class="form-check mb-1 d-flex align-items-center">
						<input class="form-check-input" type="checkbox" id="iten4" value="">
						<label class="form-check-label pl-2 pt-1" for="item4">{% trans 'Удаленная работа' %}</label>
					</div>
				</div>
			</div><!-- End of filter -->

			<!-- students content -->
			<div class="col-xl-9 col-lg-9 col-md-9  justify-content-md-between d-md-table">
				<div class="container">
					<div class="row justify-content-center justify-content-md-start">
                        {% for st in object_list %}
                        <div class="col-sm-12 col-md-12 px-0 px-md-5 py-md-4 mt-2 users text-center">
                            <div class="row px-3 mt-3 mb-4 text-sm-left">
                                <div class="col-sm-2 px-0 ml-md-3">
                                    <img class="img-fluid" src="{{ st.image_url }}" alt="avatar" name="inpFile" id="inpFile2">
                                </div>
                                <div class="col-sm-4 col-md-6 pt-2 offset-sm-1 offset-md-2 offset-lg-1">
                                    <h5 class="font-size-20">{{ st.full_name }}</h5>
                                    <p class="text-light font-size-14">{{ st.direction }}</p>
                                </div>
                            </div>
                            <div class="row px-4 px-md-3 d-flex flex-column align-items-center flex-sm-row">
                                {% for sp in st.projects_top3 %}
                                    <div class="px-2 mb-3 mb-md-0 col-md-4 col-sm-4 col-10 img-project-div">
                                        <img src="{{ sp.image_url }}" class="img-fluid img-project">
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="row px-4 px-md-3 mt-5 mb-5 mb-md-0 d-flex flex-column align-content-center flex-sm-row justify-content-sm-between">
                                <div class="col-sm-6 mb-4 mb-md-0 text-center text-sm-left">
                                    <span>Навыки</span>
                                    <br>
                                    <span class="text-light font-size-14">
                                        {{ st.skills }}
                                    </span>
                                </div>
                                <div class="col-sm-6 text-center text-sm-right">
                                    <a class="btn btn-danger rounded-15 px-4 py-2" href="{% url 'main:student_card' st.id%}">Подробнее</a>
                                </div>
                            </div>
                        </div><!-- End of col -->
                        {% empty %}
                        {% endfor %}
                        <div class="container d-flex justify-content-center align-items-center mt-4">
                            <div class="pagination d-flex">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                                {% for page in page_obj.paginator.page_range %}
                                    {% if page < 7 %}
                                        <li class="page-item current">
                                            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </div>
                        </div>
					</div>
				</div><!-- End of container -->
			</div><!-- End of users conter -->
		</div><!-- End of row -->
	</div><!-- End of contianer-fluid -->
{% endblock %}