{% extends '../layouts/layout_sign_in.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}

    <div class="container-fluid d-flex p-0 ">
		<div class="container-fluid d-none d-sm-none d-md-block" id="left">
			<div class="row p-0">
				<div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-2 offset-lg-1">
					<img src="{% static 'main/img/napa.svg' %}" style="height: 45vh">
				</div>
				<div class="col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-1">
					<img src="{% static 'main/img/recruitment.svg' %}" style="height: 100vh">
				</div>
				<div class="col-xxl-6 col-xl-6 col-lg-5 col-md-4 offset-lg-2 img-vektor">
					<img src="{% static 'main/img/vector.svg' %}" class="">
				</div>
			</div><!-- End of row -->
		</div><!-- End of #left -->

		<div class="container-fluid m-0" id="right-1">
			<div class="row py-4 px-5 my-3 d-none d-md-block">
				<div class="col text-right font-size-12">
					<span>{% trans 'Нет аккаунта?' %} </span><a href="{% url 'user:registration' %}" class="text-danger">{% trans 'Зарегистрируйтесь' %}</a>
				</div>
			</div>
			<div class="row h-75 d-flex justify-content-center align-items-center align-items-md-stretch pt-xl-5">
				<div class="col-10 col-md-8 col-lg-6 pt-5 pt-md-0">
					<h1 class="d-block d-sm-block d-md-none title-name mb-0">NAPA</h1>
					<h1 class="d-block d-sm-block d-md-none title-name">Recruitment</h1>
					<hr class="d-block d-sm-block d-md-none ">
				<form class="form-example mt-3" action="{% url 'user:login' %}" method="post">
						<label class="text-01 mb-4">{% trans 'Войти в акканут' %}</label>
                        {% csrf_token %}
						<div class="form-group">
							<label for="username" class="text-02">{% trans 'Логин' %}</label>
                            {{ form.username|as_crispy_field }}
						</div>
						<div class="form-group m-0 p-0 d-flex justify-between " id="texts">
							<div class="col-6 p-0"><label for="password" class="text-02">{% trans 'Пароль' %}</label></div>
							<div></div>
							<div class="col-6 p-0 text-right"><a href="{% url 'user:forgot_password' %}" class="forgot_password">{% trans 'Забыли пароль?' %}</a></div>
						</div>
						<div class="form-group">
                            {{ form.password|as_crispy_field }}
						</div>
						<div class="d-flex justify-content-between align-items-center mt-4">
							<button type="submit" class="btn btn-danger px-4 px-sm-5 py-2 rounded-15 mr-2">{% trans 'Войти' %}</button>
							<a href="{% url 'user:registration' %}" class="d-block d-md-none">{% trans 'Зарегистрируйтесь' %}</a>
						</div>
					</form>
				</div>
			</div><!-- End of row -->
		</div><!-- End of #right -->
	</div><!-- End of container-fluid -->
{% endblock %}
