{% extends '../layouts/layout.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="container-xl my-110">
		<div class="row mx-4 pb-md-5">
			<div class="col-12 col-md-4 col-lg-3 col-xl-3 px-0 mb-5 mb-md-0 left-content">
                <img class="img-fluid" src="{{ student.image_url }}" alt="avatar" name="inpFile" id="inpFile3">
				<div class="pt-4 d-flex flex-row align-items-center">
					<h5 class="font-weight-bold mb-0 mr-3">{{ student.full_name }}</h5>
					<i class="fa fa-star fa-fw fa-lg favourite-icon"></i>
				</div>
				<p class="pb-3">
					{{ student.direction }}
				</p>
				<p><b>{% trans 'Навыки' %}:</b> {{ student.skills }}</p>
				<p><b>{% trans 'Возраст' %}:</b> {{ student.age }} года</p>
				<p class="mb-2"><b>{% trans 'Обо мне' %}:</b></p>
				<p class="pb-4">
					{{ student.student_about }}
				</p>
				<p class="text-center text-sm-left">
					<button class="btn btn-danger rounded-15 px-4 py-2">{% trans 'Нанять сотрудника' %}</button>
				</p>
			</div>
			<div class="col-12 col-md-8 col-lg-9 col-xl-9 pl-md-5 right-content mt-2 mt-md-0 ">
				<div class="row pl-md-5 mb-5 mb-md-0 mb-lg-5 d-flex">
					<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-4 mb-md-3 mb-lg-0">
						<img src="{% static 'main/img/workcase1.svg' %}" class="img-fluid">
						<p class="project-name pt-4">
							Верстка лендинга для компании
						</p>
						<a href="#">http://loremipsumlala.com</a>
					</div><!-- End of col -->
					<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-4 mb-md-3 mb-lg-0">
						<img src="{% static 'main/img/workcase1.svg' %}" class="img-fluid">
						<p class="project-name pt-4">
							Верстка лендинга для компании
						</p>
						<a href="#">http://loremipsumlala.com</a>
					</div>
				</div>
				<div class="row pl-md-5 mb-lg-5 d-flex">
					<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-4 mb-md-3 mb-lg-0">
						<img src="{% static 'main/img/workcase1.svg' %}" class="img-fluid">
						<p class="project-name pt-4">
							Верстка лендинга для компании
						</p>
						<a href="#">http://loremipsumlala.com</a>
					</div><!-- End of col -->
					<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-4 mb-md-3 mb-lg-0">
						<img src="{% static 'main/img/workcase1.svg' %}" class="img-fluid">
						<p class="project-name pt-4">
							Верстка лендинга для компании
						</p>
						<a href="#">http://loremipsumlala.com</a>
					</div><!-- End of col -->
				</div>
			</div>
		</div><!-- End of row -->
	</div><!-- End of container-xl -->
{% endblock %}