{% extends '../layouts/layout_searching.html' %}
{% load static %}
{% block content %}
    <div class="col-sm-12 col-md-12 px-0 px-md-5 py-md-4 mt-2 users text-center">
        <div class="row px-3 mt-3 mb-4 text-sm-left">
            <div class="col-sm-2">
                <img src="{% static 'main/img/avatarka.svg' %}">
            </div>
            <div class="col-sm-4 col-md-6 pt-2 offset-sm-1 offset-md-2 offset-lg-1">
                <h5 class="font-size-20">Имя Фамилия</h5>
                <p class="text-light font-size-14">Front-end разработчик</p>
            </div>
        </div>
        <div class="row px-4 px-md-3 d-flex flex-column align-items-center flex-sm-row">
            <div class="px-2 mb-3 mb-md-0 col-md-4 col-sm-4 col-10">
                <img src="{% static 'main/img/rectangle 15.svg' %}" class="img-fluid">
            </div>
            <div class="px-2 mb-3 mb-md-0 col-md-4 col-sm-4 col-10">
                <img src="{% static 'main/img/rectangle 15.svg' %}" class="img-fluid">
            </div>
            <div class="px-2 mb-3 mb-md-0 col-md-4 col-sm-4 col-10">
                <img src="{% static 'main/img/rectangle 15.svg' %}" class="img-fluid">
            </div>
        </div>
        <div class="row px-4 px-md-3 mt-5 mb-5 mb-md-0 d-flex flex-column align-content-center flex-sm-row justify-content-sm-between">
            <div class="col-sm-4 mb-4 mb-md-0 text-center text-sm-left">
                <span>Навыки</span>
                <br>
                <span class="text-light font-size-14">
                    HTML, CSS, JAVASCRIPT
                </span>
            </div>
            <div class="col-sm-8 text-center text-sm-right">
                <button class="btn btn-danger rounded-15 px-4 py-2">Подробнее</button>
            </div>
        </div>
    </div><!-- End of col -->
{% endblock %}