{% extends '../layouts/layout.html' %}
{% load static %}
{% block content %}
    <div class="container-xl my-110 mb-md-5">
		<div class="row mx-4 pb-md-5">
			<div class="col-12 col-md-4 col-lg-3 col-xl-3 px-0 mb-5 mb-md-0 left-content">
				<img src="{% static 'main/img/photo.svg' %}">
				<div class="pt-4 d-flex flex-row align-items-center">
					<h5 class="font-weight-bold mb-0 mr-3">Газиев Руслан</h5>
					<i class="fa fa-star fa-fw fa-lg favourite-icon active"></i>
				</div>
				<p class="pb-3">
					Front-end разработчик
				</p>
				<p><b>Навыки:</b> HTML, CSS, Javascript</p>
				<p><b>Возраст:</b> 24 года</p>
				<p class="mb-2"><b>Обо мне:</b></p>
				<p class="pb-4">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus imperdiet, felis quis fermentum mattis, magna magna ullamcorper tellus, vel maximus tortor sem a magna. Duis non pretium risus, vel ultricies ante. Nunc lectus mi, dictum vel facilisis quis, aliquet sed nulla. Aliquam ut metus tincidunt, ullamcorper neque nec, ullamcorper nibh. In sit amet bibendum magna. Vivamus semper elementum metus, sed fringilla est fermentum eu.
				</p>
				<p class="font-size-14 font-weight-bold">
					Данный сотрудник уже нанят работодателем
				</p>
			</div>
			<div class="col-12 col-md-8 col-lg-9 col-xl-9 pl-md-5 right-content mt-2 mt-md-0 ">
				<div class="row pl-md-5 mb-5 mb-md-0 mb-lg-5 d-flex">
					<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-4 mb-md-3 mb-lg-0">
						<img src="{% static 'main/img/workcase1.svg' %}" class="img-fluid">
						<p class="project-name pt-4">
							Верстка лендинга для компании
						</p>
						<a href="#">http://loremipsumlala.com</a>
					</div><!-- End of col -->
					<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-4 mb-md-3 mb-lg-0">
						<img src="{% static 'main/img/workcase1.svg' %}" class="img-fluid">
						<p class="project-name pt-4">
							Верстка лендинга для компании
						</p>
						<a href="#">http://loremipsumlala.com</a>
					</div>
				</div>
				<div class="row pl-md-5 mb-lg-5 d-flex">
					<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-4 mb-md-3 mb-lg-0">
						<img src="{% static 'main/img/workcase1.svg' %}" class="img-fluid">
						<p class="project-name pt-4">
							Верстка лендинга для компании
						</p>
						<a href="#">http://loremipsumlala.com</a>
					</div><!-- End of col -->
					<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-4 mb-md-3 mb-lg-0">
						<img src="{% static 'main/img/workcase1.svg' %}" class="img-fluid">
						<p class="project-name pt-4">
							Верстка лендинга для компании
						</p>
						<a href="#">http://loremipsumlala.com</a>
					</div><!-- End of col -->
				</div>
			</div>
		</div><!-- End of row -->
	</div><!-- End of container-xl -->
{% endblock %}